<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-3">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/search' %>
      </section>
      <section class="group">
        <%= render 'shared/group' %>
      </section>
      <section>
        <%= render 'shared/friend_online' %>
      </section>
    </aside>
    <aside class="col-md-5">
      <h3>Statuses Feed</h3>
      <section class="micropost_form">
        <%= render 'shared/status_form' %>
      </section>
      <%= render 'shared/feed' %>
    </aside>
    <aside class="col-md-4">
      <section class="event">
        <%= render 'shared/event' %>
        <%= render 'shared/feed_events' %>
      </section>
    </aside>
  </div>
<% end %>

<%= subscribe_to "/comments/new" %>
