<li class="media">
  <div class="media-left">
    <%= image_tag message.user.avatar.url(:comment) %>
    <b><%= message.user.name %></b>
  </div>
  <div class="media-body">
    <p><%= message.content %></p>
    <time datetime="<%= message.created_at %>" title="<%= message.created_at %>">
      <i><%= message.created_at.strftime "%H:%M %p"%></i>
    </time>
  </div>
</li>
