<li id="<%= status.id %>">
  <span class="user">
    <%= gravatar_for status.user, size: 30 %>
    <%= link_to status.user.name, status.user %>
  </span></br>
  <span class="timestamp text-success">
    Posted <%= time_ago_in_words(status.created_at) %> ago.
    <% if current_user? status.user %>
      <%= link_to "delete", status, method: :delete, data: {confirm: "You sure?"} %>
    <% end %>
  </span></br>
  <span class="content">
    <%= status.content %></br>
    <%= image_tag status.picture.url if status.picture? %>
  </span></br>
  <span>
    <% if current_user.liked? status %>
      <%= link_to "Unlike", unlike_status_path(status), class: 'vote', method: :put, remote: true, data: { toggle_text: 'Like', toggle_href: like_status_path(status), id: status.id } %>
    <% else %>
      <%= link_to "Like", like_status_path(status), class: 'vote', method: :put, remote: true, data: { toggle_text: 'Unlike', toggle_href: unlike_status_path(status), id: status.id } %>
    <% end %>
  </span>
  <span class="votes-count" data-id="<%= status.id %>">
    <%= status.get_likes.size %>
  </span>
  Likes</br></br>
  Comments:</br>
  <% @comments = status.comments %>
  <span id="chat">
    <%= render @comments %>
  </span>

  <%= form_for Comment.new , remote: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.hidden_field :status_id, value: status.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.text_field :content, placeholder: "Compose new comment..." %>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </div>
    <%= f.submit "Comment", class: "btn btn-primary" %>
  <% end %>
</li>
<hr>
