<% if task.done %>
  <li id="<%= task.id %>" style="background-color: lightblue;">
  <h4 style="background-color: green;">Task Done</h4>
<% else %>
  <li id="<%= task.id %>">
  <%= form_for task do |f| %>
    <%= f.label :status, "Status" %>
    <%= f.select :done, {"True" => :true, "False" => :false} %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
<% end %>
  <span class="name">
    Name:
    <%= best_in_place_if current_user?(task.group.admin), task, :name, :ok_button => "ok", :ok_button_class => "btn btn-success ", :cancel_button => "X", :cancel_button_class => "btn btn-danger" %></br>
  </span>
  <span class="timestamp text-success">
    <%= link_to "Posted #{time_ago_in_words(task.created_at)} ago.", task %>
    <% if current_user? task.group.admin %>
      <%= link_to "", task, method: :delete, data: {confirm: "You sure?"}, class: "glyphicon glyphicon-remove text-danger" %>
    <% end %>
  </span></br></br>
  <span class="content">
    Content:
    <%= best_in_place_if current_user?(task.group.admin), task, :content, :ok_button => "ok", :ok_button_class => "btn btn-success ", :cancel_button => "X", :cancel_button_class => "btn btn-danger" %></br>
  </span></br>
  <span class="user">
    Assignee:
    <%= link_to task.user.name, task.user %>
  </span>
  <br>
  <span class="deadline">
    Deadline:
    <%= task.deadline %>
  </span></br></br>
  Comments:</br>
  <% @comments = task.comments %>
  <span id="task-comment<%= task.id %>">
    <%= render @comments %>
  </span>
  <span id="form-task">
    <%= form_for Comment.new , remote: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.hidden_field :task_id, value: task.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.text_area :content, placeholder: "Compose new comment...", class: "form-control" %>
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
        </div>
      <%= f.submit "Comment", class: "btn btn-primary" %>
    <% end %>
  </span>
</li>
</br>

<script>
  data = <%= raw User.pluck(:name).compact.to_json %>;
  $('textarea').atwho({at:"@", 'data':data});
</script>
