<div class="col-sm-12">
<ul class="list-group">
  <% @activities.each do |activity| %>
    <li style="list-style: none;">
      <% if activity.owner %>
        <strong>
          <%= gravatar_for activity.owner, size: 15 %>
          <%= activity.owner.name %>
        </strong>
      <% else %>
        <strong>Guest%></strong>
      <% end %>
      <%= render_activity activity, display: :i18n %>
      <% if activity.trackable %>
        <% if activity.trackable_type == "Status" %>
          "<%= link_to activity.trackable.name, status_path(activity.trackable) %>"
        <% elsif activity.trackable_type == "Comment" %>
          "<%= activity.trackable.name %>"
          in status
          "<%= link_to activity.trackable.status.name, status_path(activity.trackable.status) %>"
        <% end %>
      <% else %>
        with unknown title.
      <% end %>
      </br>
      <span class="glyphicon glyphicon-<%= activity.key.match(/\.(.*)/)[1] %>">
        <small class="text-muted"><%= time_ago_in_words(activity.created_at) %> ago.</small>
      </span>
    </li>
    <hr>
  <% end %>
  </ul>
</div>
