<% if params[:confirm] %>
  <h4>Leave this event</h4>
  <%= form_for @event do |f| %>
    <div class="actions">
      <%= f.submit "Leave", name: "confirm", value: :true, class:"btn btn-danger btn-sm" %>
    </div>
  <% end %>
<% else %>
  <%= form_for @group do |f| %>
    <div class="field">
      <%= f.label :eventname %><br/>
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :description %><br/>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :time_start %>
      <%= f.date_field :time_start %>
    </div>

    <div class="field">
      <%= f.label :time_end %>
      <%= f.date_field :time_end %>
    </div>

    <div class="field">
      <%= f.hidden_field :admin_id, value: current_user.id %>
    </div>

    <div class="actions">
      <%= f.submit "Edit" %>
    </div>
  <% end %>
<% end %>
